@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Epilogue", sans-serif;
  background-color: var(--almost-white);
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: var(--medium-gray);
}

a:hover {
  color: var(--almost-black);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: relative;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.main-nav li {
  margin-right: 50px;
}

.arrow-down,
.arrow-up {
  vertical-align: middle;
}

.user-entry {
  display: flex;
  align-items: center;
}

.register {
  margin-left: 50px;
  border: 1px solid var(--medium-gray);
  padding: 10px 20px;
  border-radius: 10px;
}

.register:hover {
  border: 1px solid var(--almost-black);
}

#main {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.content {
  width: 35%;
}

h1 {
  width: 94%;
  font-size: 70px;
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  color: var(--medium-gray);
  line-height: 1.5;
  width: 96%;
  margin-bottom: 50px;
}

.learn-more-btn {
  display: inline-block;
  background-color: var(--almost-black);
  color: var(--almost-white);
  padding: 15px 30px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.learn-more-btn:hover {
  background-color: var(--almost-white);
  color: var(--almost-black);
  outline: 1px solid var(--almost-black);
}

.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-desktop {
  width: 425px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--almost-black);
  opacity: 0.5;
  z-index: 1;
}

.features-dropdown,
.company-dropdown {
  position: absolute;
  animation: showDesktopDropdown 0.4s ease-in-out;
}

@keyframes showDesktopDropdown {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }

  100% {
    transform: scaleY(1);
  }
}

.features-dropdown,
.company-dropdown {
  background-color: var(--almost-white);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  padding: 20px 20px 0 20px;
  border-radius: 10px;
}

.features-dropdown li {
  margin-bottom: 20px;
}

.features-dropdown li img {
  margin-right: 15px;
  vertical-align: top;
}

.company-dropdown li {
  margin-bottom: 20px;
}

.features-dropdown {
  top: 11%;
  left: 8.5%;
}

.company-dropdown {
  top: 11%;
  left: 22.5%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--almost-white);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 3;
  animation: showMobileMenu 0.4s ease-in-out;
}

@keyframes showMobileMenu {
    0% {
        transform: scaleX(0);
        transform-origin: right;
    }

    100% {
        transform: scaleX(1);
    }
}

.close-menu {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
}

.main-nav-mobile {
  align-self: flex-start;
}

.main-nav-mobile li {
  margin-bottom: 20px;
}

.user-entry-mobile {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-entry-mobile li {
  margin-bottom: 20px;
}

.register-mobile {
  border: 1px solid var(--medium-gray);
  padding: 10px 70px;
  border-radius: 10px;
}

.register-mobile:hover {
    border: 1px solid var(--almost-black);
}

.features-dropdown-mobile,
.company-dropdown-mobile {
  margin: 30px 0 30px 30px;
  animation: showMobileDropdown 0.5s ease-in-out;
}

@keyframes showMobileDropdown {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }

    100% {
        transform: scaleY(1);
    }
}

.features-dropdown-mobile img {
  margin-right: 10px;
  vertical-align: top;
}

.hide {
  display: none;
}

@media screen and (max-width: 950px) {
  body {
    overflow-y: scroll;
  }

  .hamburger-menu {
    display: block;
  }

  #header {
    padding: 20px;
  }

  .main-nav,
  .user-entry {
    display: none;
  }

  #main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
  }

  .hero-desktop {
    display: none;
  }

  .hero-mobile {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  .content {
    width: 90%;
    text-align: center;
  }

  h1 {
    width: 100%;
    font-size: 35px;
  }

  p {
    font-size: 16px;
    width: 100%;
    margin-bottom: 25px;
  }

  .learn-more-btn {
    margin-bottom: 50px;
  }

  .clients img {
    width: 75px;
  }
}
